body, html {
    /* Full height */
    height: 100%;
    background-color: #000;
    margin: 0;
}

#root {
    /* Full height */
    height: 100%; 
}
.d-background {
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.d-card {
    margin: 0px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.logo {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.d-title {
    font-weight: 700;
}

.logo-footer {
    width: 120px;
    height: 60px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo-company {
    width: 110px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.g-recaptcha {
    width: 100%;
}

.d-pass--wrapper {
    position: relative;

    i {
        position: absolute;
        top: 22%;
        right: 12px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .d-card {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}

@media screen and (max-width: 768px) {
    .hidden-xs {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    .hidden-xs {
        display: none !important;
    }
}